#bb [bb-calendar-admin] .bb-day-nav {
  text-align: center; }

#bb [bb-calendar-admin] .btn-day-nav {
  color: #333; }
  #bb [bb-calendar-admin] .btn-day-nav:hover {
    color: #000; }

#bb [bb-calendar-admin] .bb-day-nav-heading {
  display: inline-block;
  margin-bottom: 0;
  font-size: 18px;
  padding: 15px 0 15px 0; }

#bb [bb-calendar-admin] .bb-filter-icon {
  height: 33px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle; }

#bb .bb-admin-client {
  text-align: left; }
  #bb .bb-admin-client .page-intro {
    text-align: center; }
  #bb .bb-admin-client .section-title {
    text-align: center; }
  #bb .bb-admin-client .bb-button-headers {
    margin-bottom: 70px;
    border-bottom: 1px solid #999; }
    #bb .bb-admin-client .bb-button-headers button {
      border-color: #bbb;
      border-radius: 15px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px; }
  #bb .bb-admin-client tfoot {
    display: none; }

#bb .admin-typehead {
  padding-left: 5px;
  border-radius: 5px;
  border: 1px #D5D5D5 solid;
  font-size: 18px; }

#bb .admin-typehead-wrapper {
  padding-right: 5px;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px; }
  #bb .admin-typehead-wrapper .dropdown-menu {
    max-height: 500px;
    overflow: auto; }
    #bb .admin-typehead-wrapper .dropdown-menu .typeahead_match {
      border-bottom: 1px solid #999;
      padding: 3px; }
      #bb .admin-typehead-wrapper .dropdown-menu .typeahead_match:hover {
        background-color: #CCC;
        cursor: pointer; }

#bb .typehead-client-wrapper {
  border: 1px solid #D5D5D5;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  padding-top: 10px;
  padding-bottom: 10px; }

#bb .panel-client-close {
  padding-top: 2px;
  float: right; }
  #bb .panel-client-close:hover {
    transition: 0.5s;
    transform: scale(1.25); }

#bb .btn-search-anyway {
  padding-top: 13px;
  padding-bottom: 14px; }

#bb .admin-form-submit {
  margin-top: 20px; }

#bb .search-results {
  margin-top: 40px; }

#bb .typehead-results-wrapper {
  font-size: 18px;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  border: 1px solid #D5D5D5;
  border-top: 0px; }

#bb .admin-typehead .dropdown-menu {
  max-height: 500px;
  overflow: auto; }

#bb .bb-date-picker [timepicker] {
  margin-top: -32px; }

#bb[bb-admin-booking] .form-control {
  border-radius: 4px !important; }

#bb[bb-admin-booking] .input-group .form-control:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important; }
