#bb [bb-admin-calendar] .bb-day-nav, #bb .bb-admin-calendar .bb-day-nav {
  text-align: center; }

#bb [bb-admin-calendar] .bb-day-nav-heading, #bb .bb-admin-calendar .bb-day-nav-heading {
  display: inline-block;
  margin-bottom: 0;
  font-size: 18px;
  padding: 15px 0 15px 0; }

#bb [bb-admin-calendar] .bb-filter-icon, #bb .bb-admin-calendar .bb-filter-icon {
  height: 33px;
  padding-right: 5px;
  display: inline-block;
  vertical-align: middle; }

#bb [bb-admin-booking-clients] .bb-admin-typehead-wrapper {
  margin-bottom: 20px; }
  #bb [bb-admin-booking-clients] .bb-admin-typehead-wrapper .dropdown-menu {
    max-height: 500px;
    overflow: auto; }
    #bb [bb-admin-booking-clients] .bb-admin-typehead-wrapper .dropdown-menu .typeahead_match {
      border-bottom: 1px solid #999;
      padding: 3px; }
      #bb [bb-admin-booking-clients] .bb-admin-typehead-wrapper .dropdown-menu .typeahead_match:hover {
        background-color: #CCC;
        cursor: pointer; }

#bb [bb-admin-booking-clients] .bb-typehead-results-wrapper {
  padding: 10px 15px 5px;
  border: 1px solid #D5D5D5;
  border-top: 0px;
  min-width: 300px;
  cursor: pointer; }

#bb [bb-admin-booking-clients] .admin-typehead .dropdown-menu {
  max-height: 500px;
  overflow: auto; }

#bb [bb-admin-booking-clients] .dropdown-menu {
  padding: 0; }
  #bb [bb-admin-booking-clients] .dropdown-menu .active {
    background-color: #609ABE;
    color: white; }

#bb [bb-admin-booking-clients] .search-results {
  margin-top: 30px; }

#bb [bb-admin-booking-clients] .fa-mobile.fa-lg.fa-fw {
  width: 17px; }

#bb [bb-admin-booking-clients] .bb-typh-header {
  font-size: 20px; }

#bb [bb-admin-booking-clients] .btn-select-client {
  margin-top: 14px; }

#bb [bb-admin-booking-clients] .bb-search-options {
  text-align: right; }

#bb [bb-admin-booking-clients] .bb-search-summary {
  line-height: 34px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block; }

#bb .bb-date-picker [timepicker] {
  margin-top: -32px; }

#bb[bb-admin-booking] .form-control {
  border-radius: 4px !important; }

#bb[bb-admin-booking] .input-group .form-control:first-child {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important; }
