[bb-admin-booking-clients] {

  .bb-admin-typehead-wrapper {
    margin-bottom: 20px;
    .dropdown-menu{
      max-height: 500px;
      overflow: auto;

      .typeahead_match {
        border-bottom: 1px solid #999;
        padding:3px;
        &:hover {
          background-color: #CCC;
          cursor: pointer;
        }
      }
    }
  }

  .bb-typehead-results-wrapper {
    padding: 10px 15px 5px;
    border: 1px solid $secondary-border-color;
    border-top: 0px;
    min-width: 300px;
    cursor: pointer;
  }

  .admin-typehead {
    .dropdown-menu{
      max-height: 500px;
      overflow: auto;
    }
  }

  .dropdown-menu {
    padding: 0;
    .active{
      background-color: $hyperlink-color;
      color: white;
    }
  }

  .search-results{
    margin-top: 30px;
  }

  .fa-mobile.fa-lg.fa-fw {
    width: 17px;
  }

  .bb-typh-header{
    font-size: 20px;
  }

  .btn-select-client {
    margin-top: 14px;
  }

  .bb-search-options {
    text-align: right;
  }

  .bb-search-summary {
    line-height: 34px;
    font-size: $font-size-large;
    font-weight: bold;
    display: inline-block;
  }

}
